.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #9fb8ad;
}

body {
  color: #383e56;
  text-align: center;
  font-family: 'Reggae One', cursive;
}

h1 {
  margin-top: 0;
  font-size: 5.625rem;
  margin-bottom: 0;
}
h2 {
  color: #11999E;
}

h3 {
  color: #11999E;
}

.p1 {
  font-size: 2.3rem;
  margin-top: 30px;
  font-weight: normal;
  line-height: 2;
}

.top-cloud {
  position: relative;
  left: 220px;
}

.buttom-cloud {
  position: absolute;
}

.profile {
  padding-bottom: 10px;
}

.profile-pic {
  border-radius: 100%;
  padding: 30px 0 20px 0;
  max-width: 15%;
  height: auto;
}

.pc-pic {
  border-radius: 50px;
  margin: 10px 30px 30px 30px;
  padding: 20px 30px 20px 0;
  max-width: 20%;
  height: auto;
  float: left;
}

.manager {
  padding: 20px 35px 20px 0;
  margin: 10px 30px 30px 30px;
  max-width: 25%;
  height: auto;
  float: left;
}

.linkedin {
  max-width: 3%;
  height: auto;
  margin-bottom: 10px;
}
.linkedin:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.facebook {
  max-width: 3%;
  height: auto;
  margin-bottom: 10px;
  margin-left: 10px;
}

.facebook:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.copyrights {
  margin: 0;
  font-size: 10px;
  color: white;
}

.skill-row {
  width: 50%;
  margin: auto;
  padding: 30px;
  text-align: left;
  line-height: 2;
}

.bottom-container {
  background-color: #66BFBF;

}

hr {
  border-style: dotted;
  border-width: 5px;
  width: 5%;
  border-top: 0;
  color: #11999E;
}

.get-in-touch {
  padding-top: 15px;
}
